.container-gen-afterRecoverPassword{
    padding-left: 30px;
    padding-right: 30px;
}

.title-afterRecoverPassword{
  margin-top: 80px;
    width: 100%;
    color: rgb(43, 43, 43);
    font-size: 28px;
    font-weight:bold;
    text-align: center;
}

.container-logo-afterRecoverPassword{
  display: none;
}

@media (max-width: 760px){
  .container-logo-afterRecoverPassword{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.logo-img-afterRecoverPassword{
  height: 50px;
}

.zone-inputs-afterRecoverPassword{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;

}

.button-afterRecoverPassword{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight:bold;
    background: #0F002E;
    border: 0px solid #000;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.text-description-afterRecoverPassword{
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
}

.container-tag-afterRecoverPassword{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.icon-tag-back-afterRecoverPassword{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.tag-afterRecoverPassword{
    margin-top: 0px;
    color: var(--violeta-piyion-1);
    font-size: 14px;
    font-weight:bold;
    width: max-content;
    cursor: pointer;
}