
.container-obj-animationpreloader{
    /* background-color: rgb(255, 255, 255); */
    width: 0px;
    height: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.container-circle-animationpreloader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-circle-animationpreloader{
    background-color: #ffffff;
    height: 0px;
    width: 0px;
    border-radius: 50%;
}

.container-icon-animationpreloader{
    background-color: white;
    border-radius: 50%;
    height: 0px;
    width:0px;
}


.icon-animationpreloader{
    margin-left: 15px;
    margin-top: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}