.container-gen-recoverPassword{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-recoverPassword{
  margin-top: 50px;
  width: 100%;
  color: rgb(43, 43, 43);
  font-size: 28px;
  font-weight:bold;
  text-align: center;
}

.container-recoverPassword{
  display: none;
}

@media (max-width: 760px){
  .container-recoverPassword{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.logo-img-recoverPassword{
  height: 50px;
}

.zone-inputs-recoverPassword{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 180px;
    padding-left: 5%;
    padding-right: 5%;
}

.button-recoverPassword{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight:bold;
    background: #0F002E;
    border: 0px solid #000;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}


.container-tag-recoverPassword{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.icon-tag-back-recoverPassword{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.tag-recoverPassword{
    margin-top: 0px;
    color: var(--violeta-piyion-1);
    font-size: 14px;
    font-weight:bold;
    width: max-content;
    cursor: pointer;
}

.text-description-recoverPassword{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
}

.zone-error-recoverPassword{
    margin-top: 50px;
    padding-left: 6%;
    padding-right: 6%;
    color: var(--color-error-inputs);
}